@import url(https://fonts.googleapis.com/css?family=Cabin:400);

html {
  overflow-y: scroll;
}

body {
	background-color: #151515;
	margin: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

div:empty {
	display: none;
}

#showAll {
	color: #f90;
	cursor: pointer;
}

.mainSection {
	background: #151515;
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.mainSection form {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	margin: 15px auto 20px;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.mainSection input {
	background: #222;	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 420px;
}

.mainSection input:-moz-placeholder {
   color: #888;
}

.mainSection input:focus {
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.typeahead,
.tt-query,
.tt-hint {
	background: #222;	
	background: linear-gradient(#333, #222);	
	border-radius: 5px;
	display: block;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	color: #fff;
	text-align: center;
	font-size: 23px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 420px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}
.tt-highlight {
	text-decoration: underline;
}

.tt-menu {
  width: 420px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #222;
  background-color: linear-gradient(#333, #222);
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  font-family: 'Cabin', helvetica, arial, sans-serif;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgb(66, 64, 57);
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.runeword {
	color: #fff;
	white-space: pre-line;
	padding: 20px;
	border: 2px solid rgb(93, 94, 96);
	border-radius: 15px;
	position: relative;
	display: inline-block;
}



#runewordName, #runeName, #uniqueName , #setItemName, .setItemName  {
	color: rgb(144, 136, 88);
	margin: 0px;
}


#runes {
	font-size: 20px;
	color: rgb(144, 136, 88);
}

#modifiers, #uniqueModifiers {
	margin-top: 1em;
	color: #4850B8;
}

#setModifiers, .setItemModifiers {
	color: #4850B8;
}

#setItemName {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.suggestion {
	color: #fff;
}

.hidden {
	display: none;
}

.rune {
	color: #fff;
	white-space: pre-line;
	padding: 20px;
	border: 2px solid rgb(93, 94, 96);
	border-radius: 15px;
	position: relative;
	display: inline-block;
}
.unique {
	color: #fff;
	white-space: pre-line;
	padding: 20px;
	border: 2px solid rgb(93, 94, 96);
	border-radius: 15px;
	position: relative;
	display: inline-block;
}

.set { 
	color: #fff;
	white-space: pre-line;
	padding: 20px;
	border: 2px solid rgb(93, 94, 96);
	border-radius: 15px;
	position: relative;
	display: inline-block;
}

.partial {
	color: #8c7c4b;
}

#runeReqLevel, #runeWordReqLevel, #uniqueReqLevel, #setReqLevel {
	color: rgb(118, 119, 119);
}

.sugUnique {
	color: #8c7c4b;
}

.sugRuneword {
	color: #bc9210;
}

.sugRune {
	color: #827c6b;
}

.sugSet, #setBonuses, #setName, #fullSetName, .setItemBonuses {
	color: #27dd0b;
}

#footer {

	position: fixed;
	color: #6f706f;
	border-radius: 5px;
	width: 300px;
	bottom: 0;
	background-color: #262525;
	text-align: center;
}

a {
	color: inherit;
}
