@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

.nav-group {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 1em;
}

.nav-group a {
    clear: left;
    font-family: 'Open Sans', sans-serif; 
    text-align: center;
    display: inline-block;
    color: #f2f2f2;
    padding: 3px 5px;
    text-decoration: none;
    font-size: 1em;
}

.nav-group a:hover {
    background-color: #ddd;
    color: black;
}

.nav-group a.active {
    background-color: aqua;
}