body {
	background-color:#181818;
	margin: 0 !important;
	padding: 0 !important;
}

img {
    height: 18px;
    width: 18px;
    position: relative;
    top: 2px;
}



.fieldset-auto-width {
    display: inline-block;
    background: #21170c;
    color: #fff;
    font-family: "Trebuchet MS";
    font-size: 13px;
    border:1px dotted white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}



#clear {
	color: #f90;
	cursor:pointer;
	text-decoration:underline;
	text-align: center;
	font-size: 12px;
}

sub {
	color: #f90;
	cursor:pointer;
	text-decoration:underline;
}


#totalTime {
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
	color: #ff0;
}