body {
	background-color:#181818;
	margin: 0 !important;
	padding: 0 !important;
	font-family: "Trebuchet MS";
    font-size: 13px;
    color: #FFFFFF;
}

table {
	width: 50%;
}

table tbody {
	background: #21170c;
}
