@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	background-color:#181818;
	margin: 0 !important;
	padding: 0 !important;
}



img {
    height: 18px;
    width: 18px;
    position: relative;
    top: 2px;
}

h2 {
	color: #ffffff;

}

.fieldset-auto-width {
    display: inline-block;
    width: 380px;
    background: #21170c;
    color: #fff;
    font-family: "Trebuchet MS";
    font-size: 13px;
    border:1px dotted white;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}



#clear {
	color: #f90;
	cursor:pointer;
	text-decoration:underline;
	text-align: center;
	font-size: 12px;
}

sub {
	color: #f90;
	cursor:pointer;
	text-decoration:underline;
}


#totalTime {
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
	color: #ff0;
}

.myTable {
    border-width: 1px;
    border-spacing: 0;
    border-style: dotted;
    border-color: #aaa;
    border-collapse: separate;
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #ddd;
    text-align: center;
}



.myTableBody {
	background: #000000;
	font-size: 13px;
}
thead {
	display: table-header-group;
}

.myTableRow {
	height: 20px;
}

#myTablePorts {
	width: 200px;
	text-align: center;
}

#totalProfit {
	color: red;
	font-size: 20px;
}

#lastupdate {
	width: 200px;
	color: #ffffff;
	font-size: 12px;
	margin-bottom: 15px;
}

tbody tr:hover {
  	background-color:#0f0b05;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
	cursor:pointer;
}


#btn1 {
  top: 500px;
}

#btn2 {
  top: 530px;
}

a.menu {
  text-decoration: none;
}


div.button {
  background-color: rgb(54, 25, 25);
  color: #2c3e50;
  border: none;
  border-radius: 30px;
  width: 200px;
  height: 20px;
  position: absolute;;
  left: -175px;
  transition: 1s ease;
}


div.button:hover {
  background-color: #21170c;
  position: absolute;;
  left: -40px;
  width: 200px;

}

div.button:active {
  background-color: #2c3e50;
  transition: 0s;
  color: #ecf0f1;
}

p.pmenu {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #ffffff;
	position: relative;
	font-size: 15px;
	top: -17px;
}

img.imenu {
	border-radius: 50%;
	position: relative;
	top: -49px;
	left: 182px;
}
